!templates/**/.gitignore

/.eslintignore
/.eslintrc.js
/.gitattributes
/.github
/.nvmrc
/.prettierignore
/.prettierrc.json
/babel.config.js
/jest.config.js
/shipit.production.yml
/src
/tsconfig.eslint.json
/tsconfig.json


.DS_Store
.eslintcache
*.tsbuildinfo
npm-debug.log
yarn-error.log
yarn.lock
README_INTERNAL.md
